<ion-header>
  <ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-title>
			View My Shopping Cart
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header color="secondary">My Shopping Cart</ion-card-header>
  </ion-card>
  <div *ngIf="isCartEmpty() == true"
    style="height: 100%; align-items: center; justify-content: center; text-align: center;">
    <ion-card>
      <ion-card-content>
        <h2>Your cart is currently empty</h2>
        <h3>Browse our product and start adding items!</h3>
        <ion-button expand="block" (click)="continueShopping()">
          Start shopping >
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="isCartEmpty() == false">
    <!-- <ion-grid>
      <ion-row class="align-items: center">
        <ion-col>S/N</ion-col>
        <ion-col>Item Name</ion-col>
        <ion-col>Quantity</ion-col>
        <ion-col>Price</ion-col>
        <ion-col>Action</ion-col>
      </ion-row>

      <ion-row *ngFor="let tle of cart; let i = index" class="align-items: center">
        <ion-col>{{i + 1}}</ion-col>
        <ion-col>{{tle.itemName}}</ion-col>
        <ion-col>{{tle.quantity}}</ion-col>
        <ion-col>{{tle.price}}</ion-col>
        <ion-col>
          <ion-button expand="full" (click)="removeItem(tle)">
            Remove item
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid> -->
    <ion-list> 
      <ion-item *ngFor="let tle of cart; let i = index">
        <ion-label>
          <h2>S/N: {{i+1}}</h2>
          <h3>Item Name: {{tle.itemName}}</h3>
          <h3>Item Quantity: {{tle.quantity}}</h3>
          <h3>Total Price: {{tle.price}}</h3>
        </ion-label>

        <ion-button (click)="removeItem(tle)" slot="end" color="tertiary">
          <ion-icon name="remove-circle-outline"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-fab vertical="bottom" horizontal="start" slot="fixed">
      <ion-fab-button color="danger" (click)="clearCart()">
        <ion-icon name="trash-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button color="success" (click)="checkout()">
        <ion-icon name="card-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <ion-button>Back To Shopping!</ion-button>
  </div>

  


</ion-content>