<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="back()">
        <ion-icon slot="start" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>ViewTransactionDetails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div *ngIf='retrieveTransactionError == true' style="color: red;">
        Transaction Id {{transactionId}} does not exist!
      </div>

      <ion-grid *ngIf='retrieveTransactionError == false && transactionToView != null'>
        <!-- <ion-item>
          <ion-label><b>Transaction Line Item ID</b></ion-label>
          {{transaction.transactionLineItemId}}
        </ion-item> -->

        <ion-row>
          <ion-col><b>S/N</b></ion-col>
          <ion-col><b>Item Name</b></ion-col>
          <ion-col><b>Quantity</b></ion-col>
          <ion-col><b>Price($)</b></ion-col>
          <ion-col><b>See More Details</b></ion-col>
        </ion-row>

        <ion-row *ngFor="let lineItems of transactionToView; let i = index">
          <!-- *ngIf="isPaintServiceTransaction(lineItems)" -->
            <ion-col>{{i + 1}}</ion-col>
            <ion-col>{{lineItems.itemName}}</ion-col>
            <ion-col>{{lineItems.quantity}}</ion-col>
            <ion-col>${{lineItems.price}}</ion-col>
            <ion-col></ion-col>
         </ion-row>

        <ion-row>
          <ion-col>Total Price</ion-col>
          <ion-col></ion-col>
          <ion-col></ion-col>
          <ion-col>${{totalPrice}}</ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>