<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>

    <ion-button slot="end" color="tertiary" (click)="updateDetails()"><ion-icon name="create-outline"></ion-icon>
      Update Details</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="text-align: center">
    <ion-card-content style="text-align: center;">
        <img src="https://i.imgur.com/yILM61G.jpg" style="height: 25%; width: 25%;"/>
    </ion-card-content>
    <ion-label>{{currentCustomer.firstName}} {{currentCustomer.lastName}}</ion-label>
  </ion-card>
  <ion-card>
    <ion-label><b>Username: </b>{{currentCustomer.username}}</ion-label> <br><br/>
    <ion-label><b>Email: </b>{{currentCustomer.email}}</ion-label> <br><br/>
    <ion-label><b>Home Address: </b>{{currentCustomer.homeAddress}}</ion-label>
  </ion-card>
</ion-content>
